* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(227 255 239);
  overflow-x: hidden;
}
main {
  position: relative;
}
a,
a:link {
  color: rgb(127, 202, 127);
}
a:visited {
  color: rgb(93, 163, 93);
}
a:hover {
  color: rgb(114, 187, 114);
}
/* HEADER */
header.banner {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 30, 32, 0.7), rgba(4, 103, 30, 0.7)),
    url(img/bg.png);
  background-size: cover;
  position: relative;
}

/* NAV */
nav {
  display: flex;
  padding: 4% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 57px;
}

nav img.goalslogo {
  width: 295px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links > a {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
  text-decoration: none;
  font-size: 15px;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.nav-links > a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #fff;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links > a:hover::after {
  width: 100%;
}

.text-box {
  width: 90%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  text-align: center;
  color: #fff;
}

.text-box h1 {
  font-size: 62px;
}
.text-box p {
  margin: 10px 0 40px;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
}

div.text-box > h1 > img.goal3 {
  width: 80px;
}

.visit-btn {
  display: inline-block;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 15px;
  background: transparent;
  position: relative;
  cursor: pointer;
  color: #fff;
  font-family: "Poppins", sans-serif;
  transition: 1s;
}
.visit-btn,
.visit-btn:visited,
.visit-btn:link {
  color: #fff;
}
.visit-btn:hover {
  border: 1px solid rgb(127, 202, 127);
  background: rgb(127, 202, 127);
}

/* Hide the nav-icon  */
nav .fa {
  display: none;
}

.section {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 35px;
}
h1 {
  font-size: 36px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.sec-column {
  background: rgb(127, 202, 127);
  margin-bottom: 5%;
  flex-basis: 31%;
  border-radius: 15px;
  padding: 20px 12px;
  box-sizing: border-box;
}

h2 {
  font-size: 29px;
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
  color: white;
}

div.desc {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* GAME */
main.game {
  width: 100%;
}
main.game > div:first-of-type {
  width: 80%;
  margin: 0 auto;
}
.game-desc {
  display: block;
}

.game-sec {
  margin: 50px;
}

.game-sec-img {
  width: 331px;
}
main.game .game-desc:last-of-type {
  padding-bottom: 50px;
  margin-bottom: 100px;
}

.game-bottom {
  background: rgb(127, 202, 127);
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  position: absolute;
  bottom: -100px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  border-collapse: collapse;
}
th {
  background-color: #cacaca;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
table th:first-of-type,
table td:first-of-type {
  text-align: left;
}

/* CONTACT */
.sec-header {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 30, 32, 0.7), rgba(4, 103, 30, 0.7)),
    url(img/bg.png);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}

.comment {
  background: rgb(98, 168, 98);
  border: 1px solid #ccc;
  margin: 50px 0;
  padding: 30px;
  border-radius: 10px;
}

.comment h4 {
  text-align: left;
  font-size: 35px;
  color: #fff;
}

.comment-form input,
.comment-form textarea {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: #f1f1f1;
  border-radius: 10px;
}

.comment-form button.visit-btn {
  margin: 10px;
}

/* FOOTER */
footer {
  height: 324px;
  color: #fff;
  display: flex;
  background-color: #313131;
  justify-content: space-around;
  align-items: center;
  font-size: 21px;
  position: relative;
  padding-bottom: 50px;
}

footer > div > img {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

div.footer-bottom {
  background: #343a40;
  height: 50px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.footer-bottom p {
  font-size: 1rem;
}

@media (max-width: 600px) {
  .text-box h1 {
    font-size: 35px;
  }
  .nav-links > a {
    display: block;
    margin: 15px;
  }
  .nav-links {
    position: absolute;
    background: rgb(127, 202, 127);
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fa {
    display: block;
    color: black;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .row {
    flex-direction: column;
  }
  .game-sec-img {
    width: 295px;
    margin: -51px;
  }

  .game-sec > p {
    top: 38px;
    position: relative;
  }

  footer {
    flex-direction: column;
    height: auto;
    padding: 20px;
    padding-top: 30px;
    width: 100%;
    padding-bottom: 100px;
  }

  footer > div:not(:last-of-type) {
    width: 100%;
    margin-bottom: 20px;
  }
  footer > div > img {
    margin-bottom: 10px;
  }
  footer > div > address {
    font-size: 1rem;
  }
  footer iframe {
    width: 100%;
  }
  div.footer-bottom {
    height: 100px;
  }
}
